@import '../font/fonts';

$background-gray: #C4C4C466;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

.body {
    position: relative;
    width: 100%;
    height: 100%;
    // overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}

.navbar {
    display: flex;
    margin: 0px 50px;
    justify-content: space-between;

    &__navigation {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    &__burger {
        display: none;
    }
}

.burger {
    width: 25px;
    height: 20px;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.page-link-text {
    color: black;
    text-decoration: none;

}

.wrapper {
    width: auto;
    height: auto;

    &__main {
        position: relative;
    }

    &__video-block {
        position: absolute;
        top: 50%;
        left: 45%;
    }

    &__vector-under-photo {
        width: 100%;
        position: absolute;
        top: 0;
    }

    &__near-header-foto {
        width: 100%;
    }

    &__vector-photo {
        width: 100%;
        z-index: 1000;
    }

    &__block-text {
        display: flex;
        width: 100%;
        height: 500px;
        align-items: center;
        justify-content: center;
    }

    &__text {
        width: 35%;
        height: auto;
    }

    &__photos {
        display: flex;
        height: 500px;
        position: relative;
    }

    &__regular-block {
        width: calc(100%/4);
        height: 100%;
        object-fit: cover;
    }

    &__vertical-photo {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    &__paths {
        display: flex;
        align-items: center;
        width: 100%;
        height: 500px;
        justify-content: space-evenly;
    }

    &__paths-btns {
        display: flex;
        justify-content: center;
    }

    &-btn {
        background-color: orange;
        border-radius: 25px;
        color: white;
        padding: 13px 70px;
        margin-top: 5px;
    }

    &-big-btn {
        border-radius: 30px;
    }

    &__supporters {
        width: 100%;
        height: 480px;
        background: url("../img/Vector_near_footer.svg");
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__supporters-container {
        width: 100%;
    }

    &__supporters-h3 {
        margin-bottom: 30px;
    }

    &__supporters-logos {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

}

.wrapper__top-vector {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}

.wrapper__bottom-vector {
    width: 100%;
    position: absolute;
    bottom: -10px;
    z-index: 5;
}

.main-photo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.photo-vector {
    width: 100%;
}

.photo {
    width: 100%;
    height: 100%;
}



.form {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 700px;
        height: 100%;
    }

    &__title {
        margin: 20px
    }

    &__field-block {
        display: flex;
        justify-content: space-between;
    }

    &__first-field {
        width: 49%;
        height: 40px;
    }

    &__field {
        width: 100%;
        height: 40px;
    }

    &__field-textarea {
        width: 100%;
        height: 300px;
        padding-top: 10px;
        overflow-y: auto;
        resize: none;
    }

    &__btn-block {
        display: flex;
        justify-content: center;
    }

    &__btn {
        padding: 15px 66px;
    }

    &__agree-block {
        display: flex;
        margin-top: 12px;
    }

    &__agree-btn {
        width: 16px;
        height: 16px;
        border: none;
        background: $background-gray;
        border-radius: 1px;
        margin-right: 15px;
    }
}

.wrapper-big-btn {
    width: 182px;
    height: 62px;
    top: 2615px;
    left: 592px
}

.field {
    border: none;
    border-radius: 5px;
    background: $background-gray;
    margin-bottom: 10px;
    padding: 15px;
}

.field::placeholder {
    color: $main-text-color;
}

.field:focus {
    outline: none;
}

.footer {
    width: 100%;
    height: 370px;
    background: url("../img/Vector_footer.svg");
    z-index: 100;
    position: absolute;
    bottom: -320px;

    &__container {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 80px 75px 50px 55px;
    }

    &__left-block {
        width: auto;
        height: 100%;
        margin-right: 10%;
    }

    &__right-block {
        width: 100%;
        height: 100%;
    }

    &__right-block-container {
        width: auto;
        display: flex;
        justify-content: flex-end;
    }

    &__top-wrapper-block {
        display: flex;
        justify-content: space-between;
        height: 228px;
    }

    &__fast-navigation {
        width: calc(100%/3);
    }

    &__fast-navigation-btn {
        text-align: left;
        width: 100%;
        height: calc(100%/7);
    }

    &__company-information {
        width: calc(100%/3);
    }

    &__links-to-social-networks {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    &__person-info-and-social-networks-links {
        width: calc(100%/3);
    }

    &__people-contacts {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__text {
        width: 182px;
        height: 78px;
        display: flex;
        align-items: center;
    }

    &__bottom-wrapper-block {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: auto;
    }
}

.link-to-social-network {
    margin-right: 20px;
}

.information-field {
    height: 24px;
}

.information-h {
    margin-bottom: 5px;
}

@media screen and (max-width: 1600px) {
    .wrapper__photos {
        height: 450px;
    }
}





@media screen and (max-width: 1800px) {

}

@media screen and (max-width: 1400px) {
    .wrapper__photos {
        height: 400px;
    }
}

@media screen and (max-width: 1300px) {
    .wrapper__photos {
        height: 350px;
    }

        //footer 3 blocks
}

@media screen and (max-width: 1200px) {
    .wrapper__photos {
        height: 350px;
    }


}

@media screen and (max-width: 1100px) {
    .navbar__navigation {
        display: none;
    }

    .navbar__burger{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper__photos {
        height: 300px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper__photos {
        height: 250px;
    }
}