$font-family-montserrat: 'Montserrat',
sans-serif;
$font-family-oswald: 'Oswald',
sans-serif;

$main-text-color: #2F4858;
$text-color-white: #FFFFFF;
;

.text__h4-text-left-500-0em-black {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.text__h4-text-right-500-0em-black {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
}

.text__h4-text-center-500-0em-black {
    //
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.text__h4-text-center-400-0em-dark-blue {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: $main-text-color;
}

.text__h4-text-center-500-0em-dark-blue {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: $main-text-color;
}

.text__h3-text-center-500-36px-0em-dark-blue-oswald {
    font-family: $font-family-oswald;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: $main-text-color;
}

.text__h4-text-left-400--0015em-dark-blue {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    color: $main-text-color;
}

.text__left-400-0em-black{
    font-family: $font-family-montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.text__h2-text-center-500-44px-0em-dark-blue-oswald{
    font-family: $font-family-oswald;
    font-size: 30px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: $main-text-color;
}

.text__h3-text-left-500-0em{
    font-family: $font-family-montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.text__h3-text-right-500-0em{
    font-family: $font-family-montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
}

.text__h5-text-right-500-0em-white{
    font-family: $font-family-montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
    color: $text-color-white;
}

.text__white {
    color: $text-color-white;
}