$font-family-montserrat: 'Montserrat',
sans-serif;
$font-family-oswald: 'Oswald',
sans-serif;

$main-text-color: #2F4858;
$text-color-white: #FFFFFF;
;

.main-font {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.sub-title {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
}



.navbar__language {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.wrapper__text {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: $main-text-color;
}

.btn-content {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: $main-text-color;
}

.title {
    font-family: $font-family-oswald;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: $main-text-color;
}

.form-text {
    font-family: $font-family-montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.015em;
    text-align: left;
    color: $main-text-color;
}

.form-checkbox-text {
    font-family: $font-family-montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.form__title {
    font-family: $font-family-oswald;
    font-size: 30px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    color: $main-text-color;
}

.additional-font {
    font-family: $font-family-montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__person-information-title {
    font-family: $font-family-montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: right;
}

.footer__privacy-policy {
    font-family: $font-family-montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
}

.footer__copyright {
    font-family: $font-family-montserrat;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.text_white {
    color: $text-color-white;
}